@media screen and (max-width: 576px) {

}

@media screen and (min-width: 577px) {

}

@media screen and (min-width: 1440px) {

}

/* CUSTOM BOOTSTRAP CSS */
.navbar-header {
  background-color: #000000;
}

.landing-page-full-page-box{
  /* height: 100vh;
  width: 100%; */
  background-color: #000000;
}